@font-face {
  font-family: 'Inter-Semibold';
  src:url('../fonts/Inter-Semibold.eot?-kwf309');
  src:url('../fonts/Inter-Semibold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Semibold.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Semibold.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Semibold.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Inter-Bold';
  src:url('../fonts/Inter-Bold.eot?-kwf309');
  src:url('../fonts/Inter-Bold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Bold.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Bold.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Thin';
  src:url('../fonts/Inter-Thin.eot?-kwf309');
  src:url('../fonts/Inter-Thin.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Thin.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Thin.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Thin.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src:url('../fonts/Inter-Medium.eot?-kwf309');
  src:url('../fonts/Inter-Medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Medium.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Medium.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Medium.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src:url('../fonts/Inter-Regular.eot?-kwf309');
  src:url('../fonts/Inter-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Regular.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Regular.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Black';
  src:url('../fonts/Inter-Black.eot?-kwf309');
  src:url('../fonts/Inter-Black.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Black.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Black.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Black.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src:url('../fonts/Inter-ExtraBold.eot?-kwf309');
  src:url('../fonts/Inter-ExtraBold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-ExtraBold.woff?-kwf309') format('woff'),
    url('../fonts/Inter-ExtraBold.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-ExtraBold.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Light';
  src:url('../fonts/Inter-Light.eot?-kwf309');
  src:url('../fonts/Inter-Light.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-Light.woff?-kwf309') format('woff'),
    url('../fonts/Inter-Light.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-Light.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src:url('../fonts/Inter-ExtraLight.eot?-kwf309');
  src:url('../fonts/Inter-ExtraLight.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Inter-ExtraLight.woff?-kwf309') format('woff'),
    url('../fonts/Inter-ExtraLight.ttf?-kwf309') format('truetype'),
    url('../fonts/Inter-ExtraLight.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes bounce1{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); transform: translateX(-10px); }
  100% { transform: translateY(0); }
}

@keyframes bounce2{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px);transform: translateX(-3px); }
  100% { transform: translateY(0); }
}

@keyframes bounce3{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); transform: translateX(5px); }
  100% { transform: translateY(0); }
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

body {
  font-family: 'Inter-Regular';
 margin: 0;
 background: #fff;
}

img {
  max-width: 100%;
}

input:focus {
  
  outline:none;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}

.container {
  position: relative;
  padding:0 15px;
  max-width: 950px;
  margin: 0 auto;
}


/*work*/


.work {
  position: relative;
  background: #F8EFDE url(../images/work-bg.png) center 0 no-repeat;
}

.work5 {
  position: relative;
  background: #FFFFFF url(../images/work-bg.png) center 0 no-repeat;
  padding-bottom: 70px;
}

.work:before {
  z-index: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/work-bf.png) 0 0 no-repeat;
}

.figure {
  top: 65px;
  content: '';
  position: absolute;
  width: 100%;
  height: 366px;
  background: url(../images/work-af.png) 95% 0 no-repeat;
}
.work-white{
  height: 1px;
}

/*.work:after {
  
}*/

.logo-wrap {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 0 52px 0;
}

.logo-number a {
  font-family: 'Inter-ExtraLight';
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.bookmark {
  z-index: 1;
  position: relative;
  background: url(../images/bookmark-bg.png) 0 0 no-repeat;
  background-size: 40%;
  padding: 20px 0 20px 0;
  margin-top: 50px;
}

.bookmark-title button {
  padding: 0;
  width: 189px;
  font-size: 18px;
  cursor: pointer;
  line-height: 22px;
  color: #000000;
  border-bottom: 1px dashed;
  border-color: #000000;
}

.bookmark-title button:hover {
  border-color:#F8EFDE;
}

.work-container {
  padding: 0;
}

.work-title {
  padding: 50px 0 0 15px;
  font-family: 'Inter-Bold';
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F26959;
}

.work-suptitle {
  padding: 40px 0 0 15px;
  font-family: 'Inter-Medium';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #010F42;
}
.work-next{
  display: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0 0 0;
  width:100%;
}

.work-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0 0 0;
}

.work-block {
  position: relative;
  z-index: 1;
  width: 33.33333%;
  padding: 30px 15px 0 15px;
}

.work-border {
  position: relative;
  z-index: 1;
  padding: 0 0 20px 0;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work-border-title {
  padding: 15px 0 0 10px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #000000;
}

.work-border-wrap {
  padding: 13px 10px 18px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-border-suptitle {
  font-family: 'Inter-Light';
  font-size: 12px;
  line-height: 15px;
  color: #9C9C9C;
}

.work-border-price {
  font-family: 'Inter-Regular';
  font-size: 16px;
  line-height: 19px;
  color: #1EA97C;
}

.work-border-inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.work-border-link {
  position: relative;
  z-index: 1;

  padding: 0 10px 0 0;
}

.work-border-link a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  background: #484848;
  border-radius: 5px;
  width: 200px;
  padding: 15px 0 15px 0;
}

.work-border-link a:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.work-border-button {

}

.work-border-button button {
  background: #F26959;
  border-radius: 5px;
  text-align: center;
  width: 49px;
  padding: 15px 0 13px 0;
}

.work-border-button button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.work-border2 {
  width: 100%;
  position: relative;
  padding: 40px 0 0 0;
}

.work-border-link2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-border-link2 a {
  font-family: 'Inter-Light';
  text-decoration: none;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.work-border-link2 a img {
  margin-left: 10px;
}

.work-border3 {
  width: 100%;
  position: relative;
  padding: 40px 0 0 0;

}

.work-border-link3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-border-link3 a {
  font-family: 'Inter-Light';
  text-decoration: none;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.work-border-link3 a img {
  transform: rotate(180deg);
  margin-left: 10px;

}

.work-link {
  display: none;
}

.work-arrow {
  width:100%;
  padding: 55px 0 0 0;
  text-align: center;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

.work-absolute {
  position: absolute;
  z-index: 1;
  right: -114px;
  bottom: 115px;
  transform: rotate(-90deg);
}

.work-absolute a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter-Medium';
  text-decoration: none;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  background: #F8EFDE;
  border-radius: 5px;
  width: 311px;
  padding: 28px 0;
}

.work-absolute a img {
  padding: 0 9px 0 0;
}

/*marketing*/

.marketing {
  padding: 70px 0 0 0;
  position: relative;
  background: url(../images/marketing-bg.png) no-repeat;
  background-position-y:280px;
  background-size: 250px;
}

.marketing-img {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 34%;
}

.marketing-img img {
  width: 250px;
}


.bookmark2 {
  z-index: 1;
  position: relative;
  background: url(../images/bookmark-bg2.png) 0 0 no-repeat;
  background-size: 42%;
  padding: 20px 0 20px 0;
}

.bookmark-title2 button {
  padding: 0;
  width: 232px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px dashed;
  border-color: #000000;
}


.bookmark-title2 button:hover {
  border-color:#F8EFDE;
}

.marketing-title {
  padding: 50px 0 0 0;
  font-family: 'Inter-Medium';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #010F42;

}

.marketing-title a {
  padding: 50px 0 0 0;
  font-family: 'Inter-Medium';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #010F42;
  text-decoration: none;
  border-bottom: 2px dashed #010F42;
}



.marketing-tabs {
  padding: 33px 0 0 0;
  display: flex;
  align-items: center;
}

/*Tabs*/

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;

  transform: rotate(0.05deg);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-tabs {
  border-radius: 100px 0 0 100px;
}

.border-tabs2 {
  border-radius: 0 100px 100px 0;
}

ul.tabs li{
  background: none;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-top: 2px solid #F26959;
  border-bottom: 2px solid #F26959;
  border-left: 1px solid #F26959;
  border-right: 1px solid #F26959;
  width: 153px;
  padding: 25px 0;
  
}

ul.tabs li:hover{
  background: #F26959;
  color: #fff;
}

ul.tabs li.current{
  z-index: 1;
  background: #F26959;
  position: relative;
  color: #fff;
}

/*ul.tabs li.current:before {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  
  content: '';
  border-bottom: 1px solid #2F80ED;
}*/

.tab-content{
  position: relative;
  z-index: 1;
  display: none;
  padding: 0 0 0 0;
}

.tab-content.current{
  display: inherit;
}


.marketing-link a {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  width: 153px;
  padding: 25.4px 0;
  text-align: center;
  background: rgba(242, 105, 89, 0.1);
  border-top: 2px solid #F26959;
  border-bottom: 2px solid #F26959;
  border-left: 1px solid #F26959;
  border-right: 1px solid #F26959;
  border-radius: 0 100px 100px 0;
}

.marketing-tabs-wrap {
  display: flex;
  padding: 23px 0 19px 0;
  border-bottom: 1px solid #9C9C9C;
}

.marketing-tabs-block {
  display: flex;
  align-items: center;
  width: 45%;
}


.marketing-tabs-restagle {
  font-family: 'Inter-Bold';
  font-size: 11px;
  line-height: 15px;
  color: #000;
  background: #fff;
  padding: 1px 5px 1px 5px;
  margin: 0 10px 0 0;
  border-radius: 4px;
  border: 1px solid #21B888;
}

.marketing-tabs-restagle2 {
  font-family: 'Inter-Bold';
  font-size: 12px;
  line-height: 15px;
  color: #000;
  background: #fff;
  padding: 1px 5px 1px 5px;
  margin: 0 0 0 10px;
  border-radius: 4px;
  border: 1px solid #21B888;
}

.marketing-tabs-title {
  padding: 0 0 0 0;
  font-family: 'Inter-Regular';
  font-size: 14px;
  line-height: 16px;
  color: #000;
  position: ;
}


.marketing-tabs-title2 {
  padding: 0 0 0 0;
  font-family: 'Inter-Regular';
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.marketing-tabs-title2:hover {
    text-decoration: underline;
}

.marketing-tabs-inner:hover {
  background: #f4f4f4;
}
.marketing-tabs-title2 br {
  display: none;
}
.marketing-tabs-image{
  height: 17px;
  width: 17px;
  background: url(../images/Ellip.png) 0 0 no-repeat;
  background-size: 15px;

}
.marketing-tabs-price {
  position: relative;
  width: 19%;
}
.marketing-tabs-sup{
  display: block;
  padding: 15px 0 0 30px;
  font-family: 'Inter-Light';
  font-size: 13px;
  line-height: 16px;
  color: #000;
  display: none;

}

.marketing-tabs-price-text {
  font-family: 'Inter-Medium';
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 12px;
}

.marketing-tabs-price-text2 {
  font-family: 'Inter-Bold';
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.marketing-tabs-price-absolute {
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 30%;
}

.marketing-tabs-price-border {
  font-family: 'Inter-Medium';
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  background: #FFCBCB;
  border-radius: 50%;
  padding: 0 4px;

}

.marketing-tabs-example {
  width: 14%;
  font-family: 'Inter-Medium';
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}

.marketing-tabs-inner {
  display: flex;
  align-items: center;
  padding: 25px 0 28px 20px;
  border-bottom: 1px solid #9C9C9C;
}


.marketing-tabs-example button {
  padding: 0;
  font-family: 'Inter-Light';
  text-decoration: none;
  border-bottom: 1px dashed #000000;
  font-size: 16px;
  line-height: 19px;
  color: #010F42;
}

.marketing-tabs-example a:hover {
  border:none;
  transition: 0.3s;
}

.marketing-tabs-example2 {
  width: 9%;
}

.marketing-tabs-example2 button {
  font-family: 'Inter-Light';
  text-decoration: none;
  border-bottom: 1px dashed #000000;
  font-size: 16px;
  line-height: 19px;
  color: #010F42;
}

.marketing-tabs-request {
  width: 13%;
  font-family: 'Inter-Light';
  font-size: 16px;
  line-height: 19px;
  color: #161616;
}




/*approximate*/

.approximate {
  position: relative;
  padding: 215px 0 0 0;
  background: url(../images/approximate-bg.png) center 0 no-repeat;
  margin-top:-90px;
}

.approximate:before {
  z-index: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 870px;
  background: url(../images/approximate-bf.png) center 0 no-repeat;
  top: 120px;
}

.approximate-bg {
  width: 100%;
  height: 100px;
  background: #F8EFDE;
}

.approximate-title {
  font-family: 'Inter-Medium';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #010F42;
}

.approximate-suptitle {
  padding: 15px 0 0 0;
  font-family: 'Inter-Bold';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #199C72;
}

.approximate-block {
  padding: 60px 0 0 180px;
}

.approximate-border {
  width: 656px;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 45px 80px 25px 60px;
}

.approximate-border-wrap {
  display: flex;
  align-items: center;
}

.approximate-border-title {
  font-family: 'Inter-ExtraLight';
  font-size: 16px;
  display: inline-block;
  line-height: 19px;
  color: #000000;
  margin: 0 10px 0 0;
}

.approximate-border-block {
  padding: 0 0 0 10px;
}

.approximate-border-border {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 100px;
  width: 130px;
  padding: 12px 0;
  text-align: center;
}

.approximate-border-img {
  padding: 25px 0 0 0;
}

.approximate-border-title2 {
 
  font-size: 16px;
  color: #000000;
}
#total-label4{
  font-size: 16px;
}

.approximate-border-inner {
  align-items: flex-end;
  display: flex;
  padding: 14px 0 0 0;
}

.approximate-border-number {
  width: 9%;
  font-family: 'Inter-Light';
  font-size: 21px;
  line-height: 25px;
  color: #FF0000;
}

.approximate-border-suptitle {
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.approximate-border-links {
  padding: 10px 0 15px 0;
  display: flex;
  align-items: center;
}

.approximate-border-link {
  width:275px;
  padding: 0 14px 0 0;
}

.approximate-border-link a {
  font-family: 'Inter-Medium';
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  display: block;
  width: 100%;
  padding: 23px 0;
  background: linear-gradient(180deg, #21B888 0%, #1EA97C 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.approximate-border-link a:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.approximate-border-link2 {
  padding: 0 0 0 14px;
}
.approximate-border-link2 button:hover{
  color: #1AC88F;
}

.approximate-border-link2 button {
  font-family: 'Inter-Medium';
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1DB182;
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: underline;
}

.approximate-border-price {
  padding: 0 0 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.approximate-img {
  width:106px;
}

.approximate-img2 {
  width:174px;
}
.approximate-img2 img{
  height:215px;
}
.modalContentThanks {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  max-height: 500px;
  width:32%;
  background-color: #fff;
  border-radius: 10px;
  height: 150px;
  z-index: 112;
  box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
  line-height: 24px;
}
.ThanksHeader{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 10px;
}
.ThanksText{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}


/*footer*/

.footer {
  padding: 70px 0 60px 0;
  background: #484848;
}

.footer-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  padding: 8px 0 0 0;
  font-family: 'Inter-ExtraLight';
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer-ul {
  display: flex;
  align-items: center;
}

.footer-li {
  padding: 0 20px;
}

.footer-li a {
  font-family: 'Inter-ExtraLight';
  text-decoration: none;
  border-bottom: 1px dashed #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-li a:hover {
  border:none;
  transition: 0.3s;
}

.footer-number a {
  font-family: 'Inter-ExtraLight';
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-number a:hover {
  text-decoration: none;
}

.footer-link {
  padding: 10px 0 0 0;
}

.footer-link a {
  font-family: 'Inter-ExtraLight';
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #FFFFFF;
}

.footer-link a:hover {
  text-decoration: none;
}




/*index2*/


/*work2*/

.work2-wrap {
  display: flex;
  padding: 40px 0 0 0;
}

.work2-block-description{
  padding: 30px 0 0 0;
}

.work2-block {
  padding: 0 30px 0 0;
  width: 60%;
}

.work2-block-wrap {
  padding: 60px 0 0 0;
  display: flex;
  align-items: center;
}

.work2-block-wrap2 {
  display: none;
}

.work2-block-block {
  width: 33.33333%;
  padding: 0 10px 0 0;
}

.work2-block-block:last-child {
  padding: 0;
}

.work2-block-button button {
  font-family: 'Inter-Medium';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
  background: #293D55;
  border-radius: 5px;
  width: 100%;
  padding: 25px 0;
}

.work2-block-button button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.work2-block-button2 button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.work-img {
  height: 187px;
  border-radius: 10px 10px 0 0;
  background-position-y: top;
    transition: 5s ease-in-out;
    background-position-x:center;
}

.work-img:hover {
  background-position-y: bottom;
}

.work2-block-button2 button {
  font-family: 'Inter-Medium';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
  background: linear-gradient(180deg, #21B888 0%, #1EA97C 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  padding: 25px 0;
}

.work2-block-button2 button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.work2-block2 {
  width: 40%;
}

.work2-section {
  position: relative;
  z-index: 1;
}

.work2-section-border {
  padding: 30px 15px;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work2-section-wrap {
  display: flex;
  align-items: center;
}

.work2-section-title {
  width: 50%;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}

.work2-section-price {
  width: 50%;
  text-align: right;
  font-family: 'Inter-Medium';
  font-size: 21px;
  line-height: 29px;
  color: #1EA97C;
}

.work2-section-inner {
  padding: 20px 0 0 0;
  display: flex;
  align-content: center;
}

.work2-section-img {
  width: 12%;
}

.work2-section-suptitle {
  font-size: 16px;
  line-height: 19px;
  color: #9C9C9C;
}

.work2-section2 {
  padding: 30px 0;
}

.work2-section2-border {
  padding: 30px 30px 30px 15px;
  background: #F5F5F5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work2-section2-wrap {
  display: flex;
  align-items: center;
}

.work2-section2-img {
  width: 25%;
}

.work2-section2-title {
  font-size: 16px;
  line-height: 19px;
  color: #161616;
}

.work2-section3-border {
  padding: 0 15px 20px 15px;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work2-section3-wrap {
  display: flex;

  padding: 25px 0 0 0;
}

.work2-section3-title {
  width: 50%;
  font-size: 16px;
  line-height: 19px;
  color: #161616;
}

.work2-section3-link {
  width: 50%;
}

.work2-section3-link a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #0A62E4;
}

.work2-section3-link a:hover {
  text-decoration: underline;
}
.work2-section3-link-content{
  display:none;
}
.work2-section3-link a:hover ~ .work2-section3-link-content{
  display:block;
  width:250px;
  height:262px;
  right:22%;
  margin-top: -150px;;
  word-break: break-all;
  background: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 15%);
  border-radius: 5px;
  position: absolute;
  z-index: 111;
}

.work2-block2-link {
  padding: 35px 0 0 0;
  text-align: center;
}

.work2-block2-link a {
  text-decoration: none;
  border-bottom: 2px dashed darkblue;;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: darkblue;
}


.work-absolute2 {
  position: absolute;
  z-index: 1;
  right: -114px;
  bottom: 28%;
  transform: rotate(-90deg);
}

.work-absolute2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter-Medium';
  text-decoration: none;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  background: #F8EFDE;
  border-radius: 5px;
  width: 311px;
  padding: 28px 0;
}

.work-absolute2 a img {
  padding: 0 9px 0 0;
}

.watchothers {
  padding: 100px 0;
}

.watchothers-title {
  font-family: 'Inter-Medium';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #000000;
}


.watchothers-slayder {
  padding: 15px 0 0 0;
}




.bookmark3 {
  z-index: 1;
  position: relative;
  background: url(../images/bookmark-bg3.png) 0 0 no-repeat;
  padding: 26px 0 26px 0;
  background-size: 33%;
}

.bookmark-title3 {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.work2-block-inner {
  display: none;
}

.work2-block-inner-block {
  width: 129px;
}

.work2-block-inner-button button {
  width: 129px;
  padding: 20px 0;
  text-align: center;
  background: #293D55;
  border-radius: 5px;
}

.work2-block-inner-title {
  padding: 20px 0 0 0;
  font-family: 'Inter-Medium';
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}





/*MODAL*/


.tabs-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tabb {
    color: blue;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0;
}

.tabb:hover {
  color: darkblue;
}

.tabb.active {
    color: darkblue;
}

.tab-panel {
    
    display: none;
    padding: 10px;
}

.tab-panel.active {
    display: block;
}





.backdrop {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}

.backdropActive {
  display: block;
}



.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  max-width: 920px;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.4s;
  transform: scale(0);
  z-index: 112;

  box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}

.modalActive {
  transform: scale(1);
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  background-color: #fff;
  border-radius: 10px;

}



.modalCloseButton {
  position: relative;
  padding: 18px 20px 0 0;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.modalCloseButton:hover {
}


.modalCloseButton span:first-child {
  transform: rotate(45deg);
}

.modalCloseButton span:last-child {
  transform: rotate(-45deg);
}

.modalContent {
  display: block;
  height: 100%;
  padding: 40px 40px;
  line-height: 24px;
  overflow: auto;
}

.modalContent::-webkit-scrollbar {
  width: 5px;
}

.modalContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContent::-webkit-scrollbar-thumb {
  background: #555;
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background: #333;
}


.modal-wrap {
  display: flex;

}

.modal-block {
  padding: 0 20px 0 0;
  width: 40%;
}

.modal-block2 {
  width: 60%;
}


.modal-title {
  font-size: 16px;
  list-style: 19px;
  color: #000;
}

.modal-title3 {
  padding: 20px 0 0 0;
  font-size: 16px;
  list-style: 19px;
  color: #000;
}

.modal-title2 {
  padding: 20px 0 0 0;
  font-family: 'Inter-Bold';
  font-size: 18px;
  list-style: 22px;
  color: #000;
}

.modal-ul {
  padding: 20px 0 0 40px;
}

.modal-li {
  padding: 10px 0 0 0;
  list-style: disc;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}


/*MODAL2*/





.backdrop2 {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}

.backdropActive2 {
  display: block;
}



.modal2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  max-width: 1100px;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.4s;
  transform: scale(0);
  z-index: 112;

  box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}

.modalActive2 {
  transform: scale(1);
}

.modalHeader2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  background-color: #fff;
  border-radius: 10px;

}



.modalCloseButton2 {
  position: relative;
  padding: 18px 20px 0 0;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.modalCloseButton2:hover {
}


.modalCloseButton2 span:first-child {
  transform: rotate(45deg);
}

.modalCloseButton2 span:last-child {
  transform: rotate(-45deg);
}

.modalContent2 {
  display: block;
  height: 100%;
  padding: 60px 45px;
  line-height: 24px;
  overflow: auto;
}

.modalContent2::-webkit-scrollbar {
  width: 5px;
}

.modalContent2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContent2::-webkit-scrollbar-thumb {
  background: #555;
}

.modalContent2::-webkit-scrollbar-thumb:hover {
  background: #333;
}



/*MODAL3*/





.backdrop3 {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}

.backdropActive3 {
  display: block;
}



.modal3 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  max-width: 1100px;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.4s;
  transform: scale(0);
  z-index: 112;
  box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}

.modalActive3 {
  transform: scale(1);
}

.modalHeader3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 10px;
}



.modalCloseButton3 {
  position: relative;
  padding: 18px 20px 0 0;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.modalCloseButton3:hover {
}


.modalCloseButton3 span:first-child {
  transform: rotate(45deg);
}

.modalCloseButton3 span:last-child {
  transform: rotate(-45deg);
}

.modalContent3 {
  display: block;
  height: 100%;
  padding: 60px 45px;
  line-height: 24px;
  overflow: auto;
}

.modalContent3::-webkit-scrollbar {
  width: 5px;
}

.modalContent3::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContent3::-webkit-scrollbar-thumb {
  background: #555;
}

.modalContent3::-webkit-scrollbar-thumb:hover {
  background: #333;
}




/*MODAL*/
.backdrop4 {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}

.backdropActive4 {
  display: block;
}



.modal4 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  max-width: 920px;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.4s;
  transform: scale(0);
  z-index: 112;

  box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}

.modalActive4 {
  transform: scale(1);
}

.modalHeader4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  background-color: #fff;
  border-radius: 10px;

}



.modalCloseButton4 {
  position: relative;
  padding: 18px 20px 0 0;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.modalCloseButton4:hover {
}


.modalCloseButton4 span:first-child {
  transform: rotate(45deg);
}

.modalCloseButton4 span:last-child {
  transform: rotate(-45deg);
}

.modalContent4 {
  display: block;
  height: 100%;
  padding: 40px 40px;
  line-height: 24px;
  overflow: auto;
}

.modalContent4::-webkit-scrollbar {
  width: 5px;
}

.modalContent4::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContent4::-webkit-scrollbar-thumb {
  background: #555;
}

.modalContent4::-webkit-scrollbar-thumb:hover {
  background: #333;
}
 
 /*----------------MODAL5------------------------*/
.backdrop5 {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}

.backdropActive5 {
  display: block;
}

.modal5 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.4s;
  transform: scale(0);
  z-index: 112;
  box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}


.modalActive5 {
  transform: scale(1);
}

.modalHeader5 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  background-color: #fff;
  border-radius: 10px;

}



.modalCloseButton5 {
  position: relative;
  padding: 18px 20px 0 0;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.modalCloseButton5:hover {
}


.modalCloseButton5 span:first-child {
  transform: rotate(45deg);
}

.modalCloseButton5 span:last-child {
  transform: rotate(-45deg);
}

.modalContent5 {
  display: block;
  height: 100%;
  padding: 55px 40px;
  line-height: 24px;
  overflow: auto;
}


.modalContent5::-webkit-scrollbar {
  width: 5px;
}

.modalContent5::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContent5::-webkit-scrollbar-thumb {
  background: #555;
}

.modalContent5::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.price-box {
  width: 656px;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 26px 39px 10px 43px;
  margin: 10px 10px 0px 10px;
}

.ui-widget-content {
  color: #222222;
  margin-top: 4px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 5.2em;
  height: 2.2em;
  cursor: default;
  margin: 0 -10px auto !important;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 15px;
}
.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  margin: 0 3px;
  font-size: 11px;
  opacity: 0.5;
}

.ui-corner-all {
  border-radius: 100px !important;
}

.ui-slider-horizontal {
  height: 10px !important;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.9em;
}

.ui-widget-content {
  border:none !important;
  background: linear-gradient(180deg, #F8EFDE 0%, #F4DFB6 100%) !important;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background: url(../images/range.svg) 0 0 no-repeat !important;

}

.ui-state-default, .ui-widget-content .ui-state-default {

  width: auto;
  min-width: 32px;
}

.ui-widget-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #1EA97C 0%, #21B888 100%) !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border:none !important;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
  width: 23px !important;
  height: 32px !important;
  top: -11px !important;
}
.ui-slider a {
  cursor: pointer;
  outline: none;
}
.ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

.price, .lead p {

  font-size: 32px;
  display: inline-block;
  line-height: 24px;
}



.total {

  position: relative;
  padding-bottom: 0;
}

.price-slider {
  width:100%;
  margin-bottom: 5px;
}
.price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

#amount-label {
  width: 16%;
  font-family: 'Inter-Light';
  font-size: 21px;
  line-height: 25px;
  color: #FF0000;
  margin: 0 0px 0 0;
}

#total-label {
  width: 16%;
  font-family: 'Inter-Light';
  font-size: 21px;
  line-height: 25px;
  color: #CC0000;
  margin:0 0px 0 0;
}

.price-form {
  border-radius: 4px;
}

.form-group {
  margin-bottom: 0;
}
.form-group span.price {
  font-weight: 200;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  margin-top:2px;
}

.help-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #737373;
  position: absolute;
  /*margin-left: 20px;*/
  font-weight: 200;
  text-align: right;
  width: 188px;
}

.price-form label {
  font-weight: 200;
  font-size: 21px;
}



.ui-slider-range-min {
  background: #3F51B5;
}

#total-label3 {
  font-size: 14px;
  color:#000;
  margin: 2px 5px 0 10px;
}

#total-label2 {
  font-size: 16px;
  background: #fff;
  width: 130px;
  text-align: center;
  border-radius: 100px;
  line-height: 44px;
}

.flex-app {
  display: flex;
  align-items: center;

}

.load-gif{
  width:20px;
}
/*ACCARDION*/

.accordion {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.accordion .item {
  cursor: pointer;

  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  transition: border-top 0.3s;
}
.accordion .item.open {

}
.accordion .item.open .hidden-box {
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #151922;
}

.accordion .item.open .hidden-box2 {
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #151922;
}
.accordion .item.open .text {
  color: #151922;

}


.accordion .text {
  position: relative;
  padding: 0 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
  line-height: 36px;
  color: #000000;
    letter-spacing: -0.005em;
    margin: 0;
}

.accordion .item.open .text {
  transition: color 0.3s;
}
.accordion .icon {
  position: absolute;
  top:2px;
  left:-15px;
  width: auto;
  height: auto;
  
  transition: transform 0.2s ease-in;
}
.accordion .item.open .icon {
  transform: rotate(90deg);
}
.accordion .hidden-box {
  grid-column: 1;
  display: none;
  transition: display 0.2 ease-in;
}
 




.accordion-wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.accordion-wrap svg {
  position: relative;
  display: flex;
  align-items: center;
}



.accordion-suptitle {
  padding: 10px 0 0 15px;
  font-family: 'Inter-Light';
  font-size: 14px;
  line-height: 17px;
  color: #161616;
}

.marl-block-hover {
  background: #fff;
  color:#000;
  padding: 10px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 15%);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 111;
}

.marketing-tabs-price-absolute:hover .marl-block-hover {
  display: block;
}
.ocenka-form{
  display:flex;
  flex-direction: row;
  margin-top:30px;
}
.PriceBox-zag{
  margin-left:20px;
}
.vk-image {
  height:19px;
  margin-top: -1px;
  margin-right: 5px;
}
.marketing-tabs-restagle111 {
  width: 21px;
  font-family: 'Inter-Bold';
  font-size: 12px;
  line-height: 15px;
  color: #000;
  background: #fff;
  padding: 1px 5px 1px 5px;
  margin: 0 0 0 5px;
  border-radius: 4px;
  border: 1px solid #21B888;
  display: inline-block;
}